.secundary {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9.5px 16px;
  position: static;
  width: 112px;
  height: 40px;
  right: 12px;
  top: 140px;
  background: linear-gradient(
      0deg,
      rgba(26, 26, 26, 0.6),
      rgba(26, 26, 26, 0.6)
    ),
    #4f36d6;
  border-radius: 3px;
  flex: none;
  order: 4;
  align-self: flex-end;
  flex-grow: 0;
  margin-top: 8px;
}

.secundary span {
  position: static;
  width: 80px;
  height: 21px;
  left: 16px;
  top: 9.5px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.complete {
  display: none;
}

@media (min-width: 600px) {
  .secundary {
    position: absolute;
    top: 4px;
    right: 12.25px;
  }
}

@media (min-width: 992px) {
  .secundary {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}
