.calendar {
  position: absolute;
  width: 16px;
  height: 16px;
}

.calendar1 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 16.67%;
  bottom: 0%;
  border: 1px solid #1a1a1a;
  box-sizing: border-box;
  border-radius: 2px;
}

.calendar2 {
  position: absolute;
  left: 70.83%;
  right: 20.83%;
  top: 4.17%;
  bottom: 75%;
  border: 1px solid #1a1a1a;
  box-sizing: border-box;
}

.calendar3 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 37.5%;
  bottom: 54.17%;
  border: 1px solid #1a1a1a;
  box-sizing: border-box;
}

.calendar4 {
  position: absolute;
  left: 20.83%;
  right: 70.83%;
  top: 4.17%;
  bottom: 75%;
  border: 1px solid #1a1a1a;
  box-sizing: border-box;
}

.calendar5 {
  position: absolute;
  left: 4px;
  top: 7px;
  color: #1a1a1a !important;
  width: 10px !important;
  height: 8px !important;
}

@media (min-width: 992px) {
  .calendar {
    width: 24px;
    height: 24px;
  }

  .calendar5 {
    left: 6px;
    top: 10px;
    width: 12px !important;
    height: 12px !important;
  }
}
